*{
    box-sizing: border-box;
}

:root{
    --main--color : #860d0d;
}
@font-face {
    font-family: dubai;
    src: url(../fonts/Dubai-Regular.ttf);
}

@font-face {
    font-family: dubai-bold;
    src: url(../fonts/Dubai-Bold.ttf);
}

body,html{
    font-family: 'Open Sans', sans-serif;
    color:white;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.container{
    height: 100%;
    width: 100%;
}
.landing-page,
.services-page,
.contact-page{
    height: 100vh;
    width: 100vw;
    
}
/* Start landing page */
.landing-page{
    background-image: url('../imgs/1.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    border-bottom: 2px solid white;
    transition: all 1.5s;
}
.overlay{
    background-color: rgba(0, 0, 0,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.landing-page .header-area{
    width: 100vw;
    position: fixed;
    left: 0;
    height: 0;
    z-index: 2;
    color: snow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    height: 4rem;
    transition: 0.5s ease-in-out;
}
.header-area .logo {
    flex: 1;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 0 0 25px var(--main--color);

}
.links-container{
    /* width: 60%; */
    flex: 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1rem;
}
.header-area .links{
    /* width: 80%; */
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-area .links.show{
    transform: translateX(0);
}
.links li{
    display: block;
    font-weight: bold;
    margin: 0 0.75rem;
}
.links li a{
    color: white;
    text-decoration: none;
    transition: .3s;
}
.links li a:hover,
.links li a.active{
    color: var(--main--color);
}
.links li a.active{
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 4px;
    background-color: var(--main--color);
    color: white;
}
.menu-icon{
    width: 25px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
    transition: 0.3 ease-in-out;
    display: none;
    
}
.menu-icon:hover div{
    background-color: lightgreen;
}
.menu-icon div{
    width: 100%;
    height: 20%;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 8px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -8px);
}
    /* start setting box */
.landing-page .settings-box{
    position: fixed;
    left: -10rem;
    top: 4rem;
    width: 10rem;
    z-index: 3;
    height: 50%;
    transition: .3s ease-in;
    padding: .5rem;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    border-left: none;
    border-radius: 0 1rem 0 0;
    height: 100%;
}
.landing-page .settings-box.open{
    left: 0;
}
.settings-box .settings-container{
    font-size: 0.75rem;
}

.settings-box .toggle-settings {
    position: absolute;
    left: 10rem;
    top: 2%;
    z-index: 2;
    background-color: var(--main--color);
    padding: 8px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.settings-box .introduction-text{
    position: absolute;
    left: 10rem;
    top: 30%;
    z-index: 2;
    width: 25rem;
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
    text-align: justify;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}   
.introduction-text fieldset{
    
    border: none;
    border: 2px solid var(--main--color)
}
.introduction-text h1{
    font-size: 1.25rem;
}
.introduction-text h1 span{
    color: var(--main--color);
}
.introduction-text p{
    line-height: 1.6;
    font-size: 1rem;
}
.settings-container{
    padding-top: 20%;
}
.settings-box .color-list li{
    list-style: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    opacity: .5;
}
.settings-box .color-list li:hover{
    transform: scale(1.1);
}
.settings-box .color-list li.active{
    opacity: 1;
}
.colors-options{
    border-bottom: 1px lightgray solid;
}
.colors-options .color-list li:nth-child(1){
    background-color: #860d0d;
}
.colors-options .color-list li:nth-child(2){
    background-color: #ec407a;
}
.colors-options .color-list li:nth-child(3){
    background-color: #7e57c2;
}
.colors-options .color-list li:nth-child(4){
    background-color: #26a69a;
}
.colors-options .color-list li:nth-child(5){
    background-color: #f1a918;
}
.background-options, .background-switchingTime, .site-language{
    border-bottom: 1px solid lightgray;
}
.background-options .yes-no{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.yes-no li,
.groub li
{
    list-style: none;
    display: inline-block;
    width: 2rem;
    background-color: var(--main--color);
    padding: 3px 7px;
    font-size: .6rem;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
}
.yes-no li.active,
.groub li.active
{
    opacity: 1;
    border: 1px solid white;
}
.groub li a{
    text-decoration: none;
    color: white;
}
/*  */
.color-list,
.yes-no,
.groub{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    
}

    /* end setting box */

/* End landing page */

/* Start products page */
.products-page{
    padding: 1rem;
    border-top: 2px solid white;
    /* background-color: rgba(21, 19, 32); */
    background-color: rgba(0, 0, 0,0.4);
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.products-page .container{
    height: 85%;
    margin: 3rem auto;
}
.products-page .translate{
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
}
.numbers ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.numbers ul li{
    list-style: none;
    display: block;
    width: 50px;
    height: 50px;
    font-weight: 600;
    padding: .5rem 0;
    text-align: center;
}
.numbers ul li:not(.dots){
    cursor: pointer;
}
.numbers ul li.active, .numbers ul li:hover:not(.dots),
.translate button:hover
{
    color: black;
}
.translate button{
    background-color: transparent;
    border: none;
    padding: .5rem 2rem;
    text-align: center;
    cursor: pointer;
    font-weight: 800;
    color: white;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
    grid-gap: 1rem;
}
.card{
    background-color: #1c1b29;
    border-radius: 2rem 2rem 5px 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}
.img-container{
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

}
.img-container img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.details{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.details .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.text> h3{
    font-size: 0.75rem;
    font-weight: 800;
    margin: 0;
}
.text > p{
    font-size: 0.6rem;
    font-weight: 600;
    color: #a0a0a0;
    text-align: left;
}
.request{
    width: 100%;
    /* margin: auto auto .75rem auto; */
}
.request input[type=button]{
    width: 100%;
    padding: .3rem .5rem;
    border: none;
    outline: none;
    font-size: 0.75rem;
    font-weight: 800;
    border-radius: 3px;
}
.request input[type=button]:hover{
    background-color: rgb(104, 235, 104);
}
/* End products page */

/* Start services page */
.services-page{
    background-image: url("../imgs/7.png");
    position: relative;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 1s ease-in-out;
}
.services{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.service{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: rgba(21, 19, 32, 0.4);
    color: whitesmoke;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.service:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-right: 1px solid #000000;
    border-bottom: 3px solid #000000;
    box-shadow: 5px 5px 10px black;
    text-shadow: 3px 3px 10px black;
    color: var(--main--color);
}

.service img{
    max-width: 10rem;
}
.service .service-description{
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 5px;
    padding: 1rem;

}

/* End services page */

/* Start contact page */
.contact-page{
    position: relative;
    z-index: 1;
    background-image: url("../imgs/contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact-page .container{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-info{
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box .icon i{
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
}
.box:hover{
    color: black;
}

input[type=text], select, textarea {
    display: inline-block;
    min-height: 2rem;
    width: 100%; 
    padding: 0.5rem; 
    border: none;
    background: rgba(204, 204, 204, 0.7);
    border-bottom: 1px solid black;
    border-radius: 2px; 
    margin: .5rem 0; 
    outline: none;
    transition: 0.2s ease;
}
textarea{
    min-height: 4rem;
    resize: none;
}
input[type=text]:focus, select:focus, textarea:focus{
    transform: scale(1.1);
    box-shadow: 0 5px 5px black;
}
input[type=submit] {
    font-weight: bold;
    background-color: white;
    font-size: 1rem;
    border: none;
    padding: 5px 8px;
    margin-top: .5rem;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: var(--main--color);
    color: white;
    border: none;
}

.contact-form {
    width: 75%;
    height: 80%;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1rem;
    color: rgba(0, 0, 0, 0.801);
}
.contact-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.contact-form label{
    font-weight: bold;
}

footer{
    width: 100%;
    height: 4rem;
    background-color: rgba(255, 255, 255, .25) ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    
}
.info a{
    color: white;
    display: inline-block;
    text-decoration: none;
    margin: 0 2rem;
}

/* End contact page */
.hidden{
    animation: fadeOut 0.3s ease-out;
    visibility: hidden;
}

/* Start Animations */
@keyframes fadeOut {
    0%{
        top: 40%;
        opacity: 1;
        visibility: visible;
    }
    100%{
        top: 0;
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes slideIn {
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}
/* End Animations */


/* ................... */
@media (max-width: 1200px){
    /* .container{
        width: 1140px;
    } */
    
}
@media (max-width: 992px){
    /* .container{
        width: 960px;
    } */
    .header-area .links-container{
        width: 70%;
    }
    .introduction-text h1{
        font-size: 1rem;
    }
    .service .service-description{
        font-size: 0.7rem;
    }
    .footer{
        font-size: 70%;
    }
}
@media (max-width: 768px){
    /* .container{
        width: 720px;
    } */
    .header-area .logo{
        font-size: 1.2rem;
    }
    .menu-icon{
        display: block;
    }
    
    .header-area .links{
        position: absolute;
        top: 3rem;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 1rem;
        background-color: rgba(0, 0, 0, 0.3);
        width: 7rem;
        height: 50vh;
        transform: translateX(7rem);
        transition: 0.3s ease-in;
        font-size: 0.8rem;
        border-radius: 1rem 0 0 1rem;
        border: 1px solid white;
        /* display: none; */
    }
    .settings-box .introduction-text{
        width: 20rem;
    }
    .services{
        display: block;
        width: 100%;
        height: 100%;
    }
    .service{
        max-width: 80%;
        height: 30%;
        margin: 0.7rem auto;
    }
    .service img{
        max-width: 50%;
        height: 50%;
    }
    .contact-page .container{
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    .contact-form{
        height: 75%;
        width: 100%;
    }
    .contact-info{
        width: 100%;
        height: 15%;
        flex-direction: row;
        align-items: center;
    }
    .contact-info .box{
        font-size: 1rem;
    }
    .box i{
        font-size: 1.5rem;
    }
    footer{
        font-size: 60%;
    }
}
@media (max-width: 578px){
    /* .landing-page{
        width: 540px;
    } */
    .header-area .logo{
        font-size: 0.9rem;
    }
    .settings-box .introduction-text p{
        font-size: 0.8rem;
    }
    .service{
        width: 75%;
    }
    .contact-info .box{
        font-size: 0.8rem;
    }
    .box i{
        font-size: 1rem;
        margin-right: 0.5rem;
    }
    footer{
        font-size: 50%;
    }
}

